:root {
    /* ## Colors */

    /* ### Primary */    
    --Very-Dark-Magenta: #502050;
    --Soft-Pink: #ee68a4;
    --yellow: #ef9546;
    
    /* ### Neutral */
    
    --Dark-Grayish-Magenta: #937b92;
    --Light-Grayish-Magenta: #f7f2f7;
    --White: #ffffff;
}

/* General config */
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    font-family: "League Spartan", serif;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}


/* background */
.bg-pattern-1 {
    background: url(../images/bg-pattern-top-mobile.svg) no-repeat center / cover;
    width: 374px;
    height: 232px;
    position: absolute;
}

.bg-pattern-2 {
    background: url(../images/bg-pattern-bottom-mobile.svg) no-repeat right center / cover;
    width: 1085px;
    height: 673px;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* container */
